<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mnet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel="stylesheet" />
</head>

<body>


    <main>

        <form action="/" method="POST" enctype="multipart/form-data">

            <fieldset class="element-form">
                <label class="name-category">Fecha de entrega</label>
                <input type="date" name="date" id="name" required>
            </fieldset>

            <fieldset class="element-form" id="buy-sell">
                <label class="name-category">Cliente</label>
                <input type="text" name="client" id="address" placeholder="Escriba el cliente" required>
                </fieldet>

                <fieldset class="element-form">
                    <label class="name-category">Seleccione el sector</label>

                    <div class="element-form" id="buy-sell">

                        <label class="check">Secos
                    <input type="radio" name="sector" value="Secos">
                </label>

                        <label class="check">Frescos
                    <input type="radio" name="sector" value="Frescos">
                </label>
                        <label class="check">Congelados
                    <input type="radio" name="sector" value="Congelados" >
                </label>
                    </div>

                </fieldset>

                <fieldset class="element-form" id="buy-sell">
                    <label class="name-category">Ruta</label>
                    <input type="text" name="route" id="address" placeholder="Escriba la ruta" required>

                </fieldset>

                <fieldset class="element-form" id="buy-sell">

                    <label class="name-category">Cantidad de bultos</label>
                    <input type="text" name="package" id="address" placeholder="describa la cantidad de bultos" required>

                </fieldset>

                <!-- onclick="window.print()" // pop up-->
                <div class="element-form">
                    <button type="submit" class="button" href="/printer">IMPRIMIR </button>
                    <button type="reset" class="button">REINICIAR</button>
                </div>

        </form>

    </main>



</body>

</html>